.tool-div{
  padding-left: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  width: 220px;
  height: 90px;
  border: 0;
  border-radius: 6px;;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.profile-picture {
  width: 36px;
  border-radius: 50%;
  margin-right: 8px;
}

.channel-name{
  font-size: 18px;
  font-weight: bold;

}

.channel-subscribers{
    color: rgb(96, 96, 96);
}