p {
  font-family: Arial;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.new-text {
  color: rgb(255, 136, 0);
  margin-bottom: 10px;
}

.mac-text {
  font-size: 20px;
  font-weight: bold;
}

.super-text {
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 12px;
}

.cost-text {
  font-size: 16px;
  margin-bottom: 12px;
}

.buy-button {
  background-color: rgb(50, 120, 224);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px 15px;
  margin-left: 47%;
}