.div{
  font-family: Arial;
  width: 300px;
  height: 80px;
  padding: 6px;
  padding-left: 15px;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 0px 0px 1px rgb(200, 200, 200);
}

.text{
  margin-bottom: 10px;
}