.google-image {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  margin-left: 100px;
}

.search-box {
  font-family: Arial;
  padding-left: 10px;
  width: 400px;
  height: 30px;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 0px 5px rgb(180, 177, 177);
}

