.div{
  /* display: flex;
  align-items: center;
  gap: 10px; */
  border: none;
  border: 1px solid rgb(230, 230, 230);
  width: 340px;
  padding: 10px;
  border-radius: 6px;
  align-items: center;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.bat-image {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100px;
  object-fit: cover;
  vertical-align: middle;
  margin-right: 5px;
}

.tweet-text {
  font-family: Arial;
  font-size: 15px;
  color: rgb(96, 96, 96);
  border: none;
  width: 200px;
  vertical-align: middle;
}

.tweet-button {
  font-family: Arial;
  background-color: rgb(29, 161, 242);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
  vertical-align: middle;
}