p {
    font-family: verdana;
    margin-top: 0;
    margin-bottom: 0;
  }

  .header-text {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 4px;
  }

  .begin-text {
    color: rgb(96, 96, 96);
    margin-bottom: 15px;
  }

  .description-text {
    width: 280px;
    margin-bottom: 15px;
    ;
  }

  .getStarted_button {
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    font-family: Verdana;
  }