body {
  height: 3000px;
}

button {
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Arial;
  font-size: 20px;
  border-radius: 50%;
  border: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}
