body {
  height: 3000px;
}

.grey-box {
  width: 320px;
  height: 180px;
  background-color: grey;

  position: fixed;
  bottom: 20px;
  right: 20px;
}

button {
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Arial;
  font-size: 20px;
  border-radius: 50%;
  border: 0;
  position: absolute;
  top: -20px;
  left: -20px;
}



.video-time{
  font-family: Arial;
  background-color: black;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;

  position: absolute;
  bottom: 10px;
  right: 10px;
}