.whole-profile{
    display: inline-block;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
    margin: 8px 8px;
}

p{
    margin: 0;
    font-family: Arial;
}

.profile-pic-div{
    width: 200px;
    height: 220px;

}

.profile-pic{
    margin: 0;
    width: 200px;
    height: 220px;
    object-fit: cover;
}

.bottom-div{
    width: 180px;
}

.profile-name{
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 10px;
}

.small-pic{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.profile-status-div{
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 12px;
}

.friend-status{
    display: inline-block;
    text-align: center;
    margin-left: 8px;
    font-size: 15px;
    color: rgb(96, 96, 96);
}

.friend-button{
    background-color:  rgb(24, 119, 242);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-left: 10px;
    margin-bottom: 8px;
    cursor: pointer;
}

