p{
      margin-bottom: 0;
      font-family: Arial;
      color: rgb(96, 96, 96)
    }

    .email-text{
      margin-bottom: 8px;
    }

    .search-box{
      width: 390px;
      height: 30px;
      border-style: solid;
      border-radius: 5px;
      border: 2px solid rgb(96, 96, 96);
    }

    .agree-text{
      margin-bottom: 15px;
    }

    .agree-button{
      background-color: rgb(0, 119, 181);
      color: white;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      padding: 8px 160px;

    }