.bat-image{
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 100px;
        object-fit: cover;
        vertical-align: middle;
        margin-right: 5px;
      }

      .tweet-text{
        font-family: Arial;
        color: rgb(96, 96, 96);
        border: none;
        width: 200px;
        vertical-align: middle;
      }

      .tweet-button{
        font-family: Arial;
        background-color: rgb(29, 161, 242);
        color: white;
        border: none;
        border-radius: 20px;
        padding: 8px 15px;
        font-weight: bold;
        cursor: pointer;
        vertical-align: middle;
      }