body{
  height: 3000px;
}

.header{
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  display: flex;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-bottom-style: solid;
  padding: 8px 0px;
}

.left-div{
  display: flex;
  align-items: center;
}

img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 40px;
}

p{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
}

.right-div{
  display: flex;
  align-items: center;
}

.friend-button{
  background-color: rgb(23, 120, 242);
  color: white;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 12px;
  font-weight: bold;
  margin-right: 8px;
}

.message-button{
  font-size: 16px;
  padding: 8px 12px;
  font-weight: bold;
  border: 0;
  border-radius: 4px;
  margin-right: 40px;
}