body{
  height: 3000px;
}

p{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.main-div{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
}

.left-div{
  display: flex;
  flex-direction: column;
  padding: 20px 10px 0px 10px;
  background-color: rgb(45, 44, 45);
}

img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 8px;
}

.right-div{
  width: 200px;
  background-color: rgb(61, 61, 61);
  padding-left: 20px;
  padding-top: 20px;
}

.info-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-bottom: 15px;
}

.info-text{
  color: white;
}

.plus{
  font-size: 28px;
  color: rgb(145, 145, 145);
  margin-right: 20px;
}

.hashtags{
  color: rgb(145, 145, 145);
  margin-bottom: 18px;
}