P{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.main-div{
  border: 0;
  width: 440px;
  height: 140px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}

.inbox-text{
  font-size: 18px;;
  margin-left: 20px;
  margin-bottom: 20px;
  color: rgb(96, 96, 96);
}

.image-div{
  align-content: center;
}

.profile-pic{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 10px;
  object-fit: cover;
}

.profile-container{
  display: flex;
}

.brand-status-div{
  display: flex;
  justify-content: space-between;
  width: 340px;
}

.brand-name{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.time-text{
  color: rgb(96, 96, 96);
}

.sales-text{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}

.info-text{
  font-size: 16px;
  color: rgb(96, 96, 96);
}